<!-- <div id="app-passenger">
    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Logo</th>
            </tr>
        </thead>
        <tbody>
            schleife um die Flughäfen und Logos 

            <tr *ngFor=" passengers of passengerList">
                <td>{{passengerList.name}}</td>
                <td>{{passengerList.id}}</td>

            </tr>

        </tbody>
    </table>
</div> -->
<!--<app-passenger></app-passenger>  -->